// Typography
// --------------------------------------------------

$base-font: 'Lato', Calibri, Arial, sans-serif;
@font-face {
  font-family: OpensansLight;
  src: url("../fonts/open_sans/open-sans.light.ttf");
  font-style: normal;
  font-weight: regular;
}

@font-face {
  font-family: OpensansRegular;
  src: url("../fonts/open_sans/open-sans.regular.ttf");
  font-style: normal;
  font-weight: regular;
}

$base-font: 'OpensansRegular', 'Lato', Helvetica, Arial, sans-serif;
$light-font: 'OpensansLight', Helvetica, Arial, sans-serif;
$heading-font: $base-font;
$text-font: $base-font;
$caption-font: $base-font;
$code-font: $base-font;
$alt-font: $base-font;

$doc-font-size: 16;
$doc-line-height: 26;


// set-up the body font-size / line-height
body {
	margin-top: 0px + $doc-line-height;
	font-size: 0px + $doc-font-size;
}


// Colors
// --------------------------------------------------
$base-color				   : rgba(#222,0.8);
$body-color      		 : #fafafa;
$body-color          : #f6f6f6;
$text-color      		 : rgba(#222,0.8);
$comp-color 	 		   : #54595E;
$border-color    		 : lighten($base-color,60);
$white           		 : #fff;
$black           		 : #000;
$link-color 		     : rgba(#222,0.8);

$primary			       : #222;
$success			       : #5cb85c;
$warning			       : #dd8338;
$danger				       : #C64537;
$info				         : #308cbc;
$grey_hs             : #54595E;
$orange_m            : #F36B37;
$grey_bg_m           : #F0F0F0;
$orange_hs           : #FF7A59;
//$orange_hs            : #F36B37;
$cherry_j            : #DD5B5D;
$grey_j              : #2A2F35;
$grey_text_j         : #AAB7B7;
$greybg_j            : #F1F4F5;



// Screen Size
// --------------------------------------------------

$small               : "only screen and (min-width: 30em)";
$medium              : "only screen and (min-width: 48em)";
$large               : "only screen and (min-width: 62.5em)";
