<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post-index" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include navigation.html %}

<div class="entry-header">
  {% if page.image %}
    <div class="entry-image-main blue_main_entry">
      <div id="underlay"></div>
      <!-- <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}"> -->
    </div><!-- /.entry-image -->
  {% endif %}
  <div class="header-title">
    <div class="header-title-wrap">
      <span class="fa" style="font-size: 2.5em;color: #FF7A59; width:100%" />
      <span><img src="{{ site.url }}/images/technology.png" style="height: 72px;margin-right: -3px"/> </span>
      <h1 class='basefont' style="font-size: 1.1em;font-family: 'OpensansRegular',Helvetica,Arial,sans-serif !important;display: inline;margin: -3px;">Tech</h1>
      <h1 class='basefont' style="font-size: 1.1em;font-family: 'OpensansRegular',Helvetica,Arial,sans-serif !important;display: inline;margin: -3px;">Stream</h1>
      <h2 style="margin-top:10px; text-transform: uppercase;font-style: normal; color: #3f4347">{{ page.title }}</h2>
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->

<div id="main" role="main">
  {{ content }}
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
